<form #f="ngForm" (ngSubmit)="getHeroes()" novalidate>
	<input [(ngModel)]="user" name="user">
	<br/>
	<br/>
	<button>Search</button>
	<div *ngFor="let userD of users">
		<div *ngIf="userD.login == this.user">
			<table>
				<tr>
					<td>Avatar_url</td>
					<td><img [src]="userD.avatar_url"/></td>
				</tr>
				<tr>
					<td>Followers</td>
					<td>{{userD.followers}}</td>
				</tr>
				<tr>
					<td>Following</td>
					<td>{{userD.following}}</td>
				</tr>
				<tr>
					<td>Repos_url</td>
					<td><button (click)="getReposUrl(userD.repos_url)">{{userD.repos_url}}</button></td>
				</tr>
			</table>
		</div>
	</div>
</form>